.aboutUs{
	/* background-color: #e8dacf; */
	min-height: 45vw;
	display: flex; 
	justify-content: center;
	align-items: center;
}
.aboutUs-main{
	width: 90%;
	background-color: #DDC5B3;
	min-height: 40vw;
	border-radius:1rem;
	display: flex;
	justify-content: space-around;
	align-items:center;
}
.aboutUs-main div{
	width: 55%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: #421103;
	line-height: 2.5rem;
	padding-right: 5rem;
	text-align: justify;
}
.about-us-img{
width: 90%;
height: auto;
transform: rotate(5deg);
}

.about-info{
	font-size: 2rem;
}
