.Dark-page{
    height: 100vh;
    position: relative;
}

.svg1{
    position: absolute;
    bottom: 0rem;
    z-index: 1;
}

.svg2{
    position: absolute;
    bottom: 7rem;
    z-index: 0;
}

.svg3{
    position: absolute;
    bottom: 10rem;
    z-index: -1;
}