.stats-div {
  /* background-color: #e8dacf; */
  min-height: 18vw;
  display: flex;
  justify-content: space-between;
}
.show-numbers {
  width: 55%;
  min-height: 18vw;
  background-color: #421103;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: white;
  align-items: center;
}
.show-numbers h1 {
  font-size: 4rem;
  font-weight: 450;
}
.show-numbers h6 {
  font-size: 1rem;
}
.stats-details {
  width: 45%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.stats-tour {
  line-height: 3rem;
  border-top: 1px solid #421103;
  border-bottom: 1px solid #421103;
  width: 80%;
}
.stats-tour a {
  display: flex;
  justify-content: space-between;
  line-height: 3rem;
  color: #421103;
  font-size: 1.3rem;
  font-weight: 400;
  align-items: center;
  text-decoration: none;
}
.video-div {
  width: 100%;
  /* background-color: #e8dacf; */
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  height: auto;
}
