@media only screen and (max-width: 1100px) {

 .darkNewsLi,.darkFormLi,.aboutUsLiDark, .headerUl1{
    display: none;
 }
.header{
   width: 100%;
}
.headerUl1{
   padding-right: 1rem;
}
.tagline-d1,.tagline-d1-sp{
   font-size: 4rem;
}
.tagline-d2{
   font-size: 1.8rem;
}
.aboutDark{
   min-height: 100vh;
   height: fit-content;
   padding: 1rem;
   padding-top: 2rem;
} 
.darkForm{
   min-height: 100vh;
   height: fit-content;
   padding: 0px;
   padding-top: 2rem;
}
.news-main{
   /* flex-direction: column; */
   padding: 1rem;
   padding-top: 2rem;
   min-height: 100vh;
   height: fit-content;
}
.marqueeContain{
   font-size: 4rem
}
.dark-tag{
   min-height: 100vh;
   height: fit-content;
} 

}
.news-main .card{
   margin: .5rem;
}

@media only screen and (min-width: 800px) and (max-width: 1100px){
   .tagline-d1,.tagline-d1-sp{
      font-size: 6rem;
   }
   .tagline-d2{
      font-size: 3rem;
   }
   .marqueeContain{
      font-size: 6rem
   }
}