@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-family: 'Playfair Display', serif;
}
body {
  margin: 0%;
  font-family: 'Poppins', sans-serif;
  /* background-color: #e8dacf; */
  width: 100%
}
.Home-div{
  width: 100%;
   background-color: #e8dacf; 
}
.dark-main-page{
  background-color: #1232C3 !important;
}
.homeDark{
  background-color: black;
  color: white;
}
#root{
  width:100%;
}