.darkForm Form{
    background-color: white;
    padding: 2rem;
    width: 85%;
}
.darkForm{
    background-image: url("../../assets/images/trippy-2.jpg");
    background-size: contain;
    height: 100vh;
    position: relative;
    top: -8.3rem;
}
a{
    cursor: pointer;
}
@keyframes animate {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}