.darkForm Form{
    background-color: white;
    padding: 2rem;
}
.darkForm{
    background-image: url("../../assets/images/trippy-2.webp");
    background-size: contain;
    height: 100vh;
    position: relative;
    top: -6rem;
}

@keyframes animate {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}